tr td:first-child {
    color: #0000FF;
    cursor: pointer;
    border-color: #666666;
    padding-right: 35px;
}
tr td:first-child:hover {
   text-decoration: underline;
}
tr td:nth-child(2) {
    padding-right: 35px;
}
#wrapper {
    width: 500px;
    margin: 10px;
}