<div id="wrapper">
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="presidents">
        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let president">{{president.Name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Party">
            <mat-header-cell *matHeaderCellDef>Party</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let president">{{president.Party}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="HasNonconsecutiveTerms">
            <mat-header-cell *matHeaderCellDef>HasNonconsecutiveTerms</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let president">{{president.HasNonconsecutiveTerms}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>