#add {
    float: right;
    margin-top: 15px;
}
#clearboth {
    clear: both;
}
#innerWrapper {
    width: 500px;
    float: left;
}
tr td:first-child {
    color: #0000FF;
    cursor: pointer;
    border-color: #666666;
    padding-right: 35px;
}
tr td:first-child:hover {
   text-decoration: underline;
}
tr td:nth-child(2) {
    padding-right: 35px;
}
#outerWrapper {
    width: 550px;
    margin: 10px;
}