<form [formGroup]="presidentsForm">
    <div class="headerWrapper">
        <div class="headerRight">
            Nonconsecutiveness?
        </div>
        <div class="headerMiddle">
            Party
        </div>
        <div class="headerLeft">
            Name
        </div>
    </div>
    <ng-container formArrayName="lineItems">
        <div *ngFor="let lineItem of presidentsForm.get('lineItems').controls; let i=index" [formGroupName]="i" class="lineItem">
            <div class="lineItemLines">
                <div class="circle"></div>
                <div class="lineLeft"></div>
                <div class="split"></div>
                <div class="lineMiddle"></div>
                <div class="rightSideWrapper">
                    <div class="lineRight"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="lineItemContentWrapper">
                <div class="lineItemContent">
                    <div class="lineItemContentName">
                        <input type="text" formControlName="name" />
                    </div>
                    <div class="lineItemContentPartyWrapper">
                        <div class="lineItemContentPartyInput">
                            <input type="text" formControlName="party" />
                        </div>
                        <div class="lineItemContentPartySelect">
                        </div>
                    </div>
                    <div class="lineItemContentCheckbox">
                        <input type="checkbox" formControlName="hasNonconsecutiveTerms" />
                    </div> 
                </div>
            </div>
        </div>
    </ng-container> 
    <div id="bottomWrapper">
        <div id="bottomControls">
            <input type="text" formControlName="newName" /> <button>add new</button> <button>delete last</button> <button (click)="submit()">save all</button>
        </div>
        <div id="bottomImage"></div>
    </div>
</form>