<form [formGroup]="presidentsForm">
    <div class="headerWrapper">
        <div class="headerRight">
            Nonconsecutiveness?
        </div>
        <div class="headerMiddle">
            Party
        </div>
        <div class="headerLeft">
            Name
        </div>
    </div>
    <ng-container formArrayName="lineItems">
        <div *ngFor="let lineItem of presidentsForm.get('lineItems').controls; let i=index" [formGroupName]="i" class="lineItem">
            <div class="lineItemLines">
                <div class="circle">
                    <ng-container *ngIf="i == 0">
                        {{lineItem.controls['positions'].value[0]}}
                    </ng-container>
                    <ng-container *ngIf="i != 0">
                        <a (click)="moveUp()" href="javascript:void(0)">{{lineItem.controls['positions'].value[0]}}</a>
                    </ng-container>
                </div>
                <div class="lineLeft"></div>
                <div class="split"></div>
                <div class="lineMiddle"></div>
                <div class="rightSideWrapperBase">
                    <div class="lineRight" *ngIf="lineItem.controls['hasNonconsecutiveTerms'].value"></div>
                </div>
            </div>
            <div class="lineItemContentWrapper">
                <div class="lineItemContent">
                    <div class="lineItemContentName">
                        <input type="text" formControlName="name" />
                    </div>
                    <div class="lineItemContentPartyWrapper">
                        <div class="lineItemContentPartyInput">
                            <input type="text" formControlName="party" (change)="calculateListOfParties()" />
                        </div>
                        <div class="lineItemContentPartySelect">
                            <select (change)="updateFillInTheBlankSister(lineItem.controls['party'], $event)">
                                <ng-container *ngFor="let party of parties">
                                    <option *ngIf="lineItem.controls['party'].value !== party" [value]="party ? party : ''">{{party}}</option>
                                    <option *ngIf="lineItem.controls['party'].value === party" [value]="party ? party : ''" selected>{{party}}</option>
                                </ng-container>                       
                            </select>
                        </div>
                    </div>
                    <div class="lineItemContentCheckbox">
                        <input type="checkbox" formControlName="hasNonconsecutiveTerms" (change)="changeCheckbox(i)" />
                    </div> 
                </div>
                <div class="rightSideWrapperTop">
                    <div class="circle" *ngIf="lineItem.controls['hasNonconsecutiveTerms'].value">
                        <ng-container *ngIf="lineItem.controls['positions'].value.length === 2">
                            <ng-container *ngIf="i == (presidentsForm.get('lineItems').controls.length - 1)">
                                {{lineItem.controls['positions'].value[1]}}
                            </ng-container>
                            <ng-container *ngIf="i != (presidentsForm.get('lineItems').controls.length - 1)">
                                <a (click)="moveDown()" href="javascript:void(0)">{{lineItem.controls['positions'].value[1]}}</a>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="lineItem.controls['positions'].value.length === 1">
                            n/a
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container> 
    <div id="bottomWrapper">
        <div id="bottomControls">
            <input type="text" /> <button>add new</button> <button>delete last</button> <button (click)="submit()">save all</button>
        </div>
        <div id="bottomImage"></div>
    </div>
</form>