<form [formGroup]="presidentsForm">
    <div class="headerWrapper">
        <div class="headerRight">
            Nonconsecutiveness?
        </div>
        <div class="headerMiddle">
            Party
        </div>
        <div class="headerLeft">
            Name
        </div>
    </div>
    <ng-container formArrayName="lineItems">
        <div *ngFor="let lineItem of presidentsForm.get('lineItems').controls; let i=index" [formGroupName]="i" class="lineItem">
            <div class="lineItemLines">
                <div class="circle"></div>
                <div class="lineLeft"></div>
                <div class="split"></div>
                <div class="lineMiddle"></div>
                <div class="rightSideWrapperBase">
                    <div class="lineRight"></div>
                </div>
            </div>
            <div class="lineItemContentWrapper">
                <div class="lineItemContent">
                    <div class="lineItemContentName">
                        <input type="text" formControlName="name" />
                    </div>
                    <div class="lineItemContentPartyWrapper">
                        <div class="lineItemContentPartyInput">
                            <input type="text" formControlName="party" (change)="calculateListOfParties()" />
                        </div>
                        <div class="lineItemContentPartySelect">
                            <select (change)="updateFillInTheBlankSister(lineItem.controls['party'], $event)">
                                <ng-container *ngFor="let party of parties">
                                    <option *ngIf="lineItem.controls['party'].value !== party" [value]="party ? party : ''">{{party}}</option>
                                    <option *ngIf="lineItem.controls['party'].value === party" [value]="party ? party : ''" selected>{{party}}</option>
                                </ng-container>                       
                            </select>
                        </div>
                    </div>
                    <div class="lineItemContentCheckbox">
                        <input type="checkbox" formControlName="hasNonconsecutiveTerms" />
                    </div> 
                </div>
                <div class="rightSideWrapperTop">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </ng-container> 
    <div id="bottomWrapper">
        <div id="bottomControls">
            <input type="text" /> <button>add new</button> <button>delete last</button> <button (click)="submit()">save all</button>
        </div>
        <div id="bottomImage"></div>
    </div>
</form>