<div id="edit-wrapper">
    <div id="edit-top">
        drag:
    </div>
    <div id="edit-middle">
        <div class="line-item" *ngFor="let president of presidents">
            <div class="line-left" (click)="changeNonconsecutiveness(president)" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                <ng-container *ngIf="president.HasNonconsecutiveTerms else doesNotHaveNonconsecutiveTerms">
                    &bull; &bull;
                </ng-container>
                <ng-template #doesNotHaveNonconsecutiveTerms>
                    &bull;
                </ng-template>
            </div>
            <div class="line-right" draggable="true" (dragend)="endDrag($event)" (dragstart)="startDrag($event, president)">{{president.Name}}</div>
        </div>
    </div>
    <div id="edit-bottom">
        <button (click)="save()">save</button>
    </div>
</div>