<div id="topArt">
    <div id="topArtTop"></div>
    <div id="topArtLeft"></div>
    <div id="topArtRight"></div>
</div>
<div id="wrapper">
    <store-edit [presidents]="presidents" (alterNonconsecutiveness)="alterNonconsecutiveness($event)" (reorderRecords)="reorderRecords($event)" (writeRecords)="writeRecords()"></store-edit>
    <store-info [presidentsPlus]="presidentsPlus"></store-info>
</div>
<div id="bottomArt">
    <div id="bottomImage">  
        <div id="innerBar"></div>     
    </div>
</div>
<div id="centerBar"></div>