<table *ngIf="presidents && presidents.length > 0">
    <tr>
        <th></th>
        <th></th>
        <th>Back</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Again?</th>
    </tr>
    <tr *ngFor="let president of presidents">
        <td>
            <input [(ngModel)]="president.Name" />
        </td>
        <td>
            <select [(ngModel)]="president.Party">
                <ng-container *ngFor="let party of parties">
                    <option *ngIf="(president.Party + '').toLowerCase().trim() !== (party + '').toLowerCase().trim()" [value]="party ? party : ''">{{party}}</option>
                    <option *ngIf="(president.Party + '').toLowerCase().trim() === (party + '').toLowerCase().trim()" [value]="party ? party : ''" selected>{{party}}</option>
                </ng-container>  
            </select>
        </td>
        <td>
            <input id="checkBox" type="checkbox"  [(ngModel)]="president.HasNonconsecutiveTerms">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <button (click)="pushToServer()">Go</button>
        </td>
    </tr>
</table>