<nav>
    <menu *ngIf="isNotHome">
        <menuitem><a [routerLink]="['/home']">escape away</a></menuitem>
        <menuitem *ngIf="whereAmI != 'list'"><a [routerLink]="['/list']">view a list of records</a></menuitem>
        <menuitem *ngIf="whereAmI != 'simple'"><a [routerLink]="['/simple']">make simple edits</a></menuitem>
        <menuitem *ngIf="whereAmI != 'reactive'"><a [routerLink]="['/reactive']">reactive forms experiment</a></menuitem>
        <menuitem *ngIf="whereAmI != 'materials-list'"><a [routerLink]="['/materials-list']">Materials example</a></menuitem>
    </menu>
</nav>