nav {
    float: right;
    width: 1px;
    height: 1px;
    display: block;
}
menu{
    display: block;
    position: absolute;
    z-index: 20;
    width: 155px;
    margin-top: -1px;
    margin-left: -200px;
}
menuitem{
    display: block;
    text-align: right;
    width: 155px;
}