a {
    margin-left: -12px;
    display: block;
}
#innerWrapperLeft {
    width: 240px;
    height: 196px;
    float: left;
}
#innerWrapperRight {
    float: right;
    width: 40px;
    margin-top: -10px;
}
input[type=checkbox] {
    position: absolute;
    margin-left: -15px;
}
input[type=text] {
    margin: 10px;
    border: 1px solid #000000;
    text: #000000;
    width: 274px;
    height: 26px;
    padding: 2px 2px 2px 2px;
    font-size: 20px;
}
#middleWrapper {
    height: 196px;
}
#outerWrapper {
    border: 1px solid #000000;
}