<div id="outerWrapper">
    <input [value]="modalMetadata.president.Name" (change)="nameChange($event)" type="text" #opener />
    <div id="middleWrapper">
        <div id="innerWrapperLeft">
            <div id="hat" #hat></div>
            <div id="face" #face>
                <div id="eyeLeft"></div>
                <div id="eyeRight"></div>
                <div id="moustache"></div>
            </div>
            <button #add (click)="addClick()" class="wide">Add President</button>
            <button #update (click)="updateClick()">Update</button>
            <button #delete (click)="deleteClick()">Delete</button>
            <button #yes (click)="yesClick()">Yes</button>
            <button #no (click)="noClick()">No</button>
        </div>
        <div id="innerWrapperRight">
            <a (click)="close()">(close)</a>
            <input type="checkbox" #checky (change)="checkyChange()" [checked]="modalMetadata.president.HasNonconsecutiveTerms" [disabled]="isCheckboxDisabled" /> hops
        </div>      
    </div>       
    <input [value]="modalMetadata.president.Party" type="text" #closer (change)="partyChange($event)" />
    <input value="Are you sure?" type="text" readonly #sure />
</div>